<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tomekgozdek.futureapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Needed for loading items from api and by picasso lib -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:name=".FutureApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".list.ItemListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".detail.DetailActivity"
            android:exported="true">
        </activity>

        <activity android:name=".web.WebViewActivity">
        </activity>
    </application>

</manifest>